<ng-container *ngIf="isLoading; else boardList">
  <div class="spinner">
    <app-loading-spinner [diameter]="70"/>
  </div>
</ng-container>
<ng-template #boardList>
  <div class="board-container">
    <app-board-column class="column" [Tasks]="tasks$ | async" [title]="'Все задачи'"></app-board-column>
    <app-board-column class="column" [Tasks]="inProgressTasks$ | async" [title]="'В процессе'"></app-board-column>
    <app-board-column class="column" [Tasks]="completeTasks$ | async" [title]="'Выполненные'"></app-board-column>
  </div>
</ng-template>

<app-toasts/>
