:host {
  display: block;
}
h2 {
  text-align: center;
}
.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 400px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.task-input {
  height: 40px;
}

mat-form-field {
  height: 70px;
}

.add-button {
  background-color: #4caf50;
  height: 50px;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:disabled {
  cursor: default;
  opacity: 0.5;
}
.add-button:disabled:hover {
  background-color: #4caf50;
}

.add-button:hover {
  background-color: #45a049;
}

.add-button:active {
  background-color: #39843a;
}
