<li [class.second]="secondItem" [class.selected]="isSelected" class="task-item">

    <mat-checkbox (click)="$event.stopPropagation()" (change)="onStatusChange(this.listItem)" [checked]="this.listItem.status === 'Completed'"></mat-checkbox>

  <span *ngIf="!isEdit; else editing"  (dblclick)="editTask()" >{{ listItem.text }}</span>

  <ng-template #editing>
    <mat-form-field class="edit-task-input" subscriptSizing="dynamic">
      <mat-label>Измените задание</mat-label>
      <input matInput id="edit-title" [(ngModel)]="editedTitle">
    </mat-form-field>
    <app-button (newButtonClick)="saveTask()" [buttonDisabled]="!editedTitle.trim()" i18n-appPrompt appPrompt="Измените задачу и сохраните изменения">Сохранить</app-button>
  </ng-template>
  <app-button [heightButton]="'30px'" appPrompt="Нажмите для удаления задания" i18n-appPrompt (newButtonClick)="deleteItem(listItem.id)" i18n-aria-label aria-label="Удалить задачу">&times;</app-button>
</li>
