mat-toolbar {
  display: flex;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-toolbar span {
  font-weight: bold;
  letter-spacing: 1px;
}

.main-menu {
  margin-left: 35px;
}

.main-menu a {
  margin-left: 10px;
}
.activated  {
  color: white;
}
